@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Play:wght@700&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #f5e141;
  --color-text-primary: #ff9d00;
  --font-family-sans: "Montserrat", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-family-sans);
  }
}
